@use "mixins.scss";

.cards__container{
    width: 100%;
    @include mixins.center-element;
    flex-direction: column;
    padding-bottom: 1em;

}

.card{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 6em;
    width: 80%;
    margin-top: 1em;
    border: solid 2px black;
}

.card__buttons{
    position: absolute;
    right: 1em;
    @include mixins.center-element;

}

.card__button--delete{
    @include mixins.center-element;
    background-color: red;
    padding: 0.2em 0.4em;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.card__button--add-tag{
    @include mixins.center-element;
    background-color: pink;
    padding: 0.2em 0.4em;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 0.3em;
}

.create__card--form{
    position: absolute;
    @include mixins.center-element;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    width: 40%;
    height: 40%;
    border: solid 3px black;
    border-radius: 5px;
}

.card__form--title{
    font-size: 2rem;
    font-weight: bold;
    border-bottom: solid 1px lightgray;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.card__name--input{
    margin: 4em 0 2em 0;
    font-size: 1.2rem;
}

.card__color--input{
    margin-bottom: 1em;
}

.card__form--close{
    align-self: flex-end;
    margin-right: 1em;
    background-color: white;
    border: solid 1px black;
    padding: 0.2em 0.4em;
    border-radius: 50%;
    color: black;
    @include mixins.center-element;
}