@use "mixins.scss";

img{
    width: 10%;
}

header{
    padding: 1em 1em;
    border-bottom: solid 1px lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__title--container{
    display: flex;
    align-items: center;
}

.title__container{
    @include mixins.center-element;
    flex-direction: column;
}

.header__title{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 0.5em;
}

.header__subtitle{
    font-size: 0.8rem;
    color: black;
    text-decoration: underline;
}

.header__buttons{
    @include mixins.center-element;
}

.create__list--button{
    background-color: greenyellow;
    padding: 0.8em 0.8em;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 1em;
    @include mixins.center-element;
}

.create__tag--button{
    @extend .create__list--button;
    background-color: lightpink;
}

.button__title{
    margin-right: 1em;
}

.header__list, .header__tag--add, .header__tag--remove{
    @include mixins.center-element;
}

.remove__tag--button{
    @extend .create__list--button;
    background-color: red;
}