@use "mixins.scss";

header{
    width: 100%;
    padding: 1em 0;
    border: solid 1px lightgray;
    @include mixins.center-element;
    position: relative;
}

.header__title{
    font-size: 2rem;
    font-weight: bold;
}

.header__buttons{
    position: absolute;
    right: 1em;
    @include mixins.center-element;
}

.create__list--button{
    background-color: greenyellow;
    padding: 0.8em 1em;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 1em;
    @include mixins.center-element;
}

.create__tag--button{
    @extend .create__list--button;
    background-color: lightpink;
    margin: 0;
}

.button__list--title{
    margin-right: 1em;
}