@use "mixins.scss";

header{
    width: 100%;
    padding: 1em 0;
    border: solid 1px lightgray;
    @include mixins.center-element;
    position: relative;
}

.header__title{
    font-size: 2rem;
    font-weight: bold;
}

.create__list--button{
    position: absolute;
    right: 1em;
    background-color: greenyellow;
    padding: 0.8em 1em;
    font-weight: bold;
    border-radius: 5px;
    @include mixins.center-element;
}