.list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17em;
    border: solid 2px black;
    margin: 1em 0.5em;
    background-color: white;
    height: 100%;
}

.list__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: orange;
}

.list__buttons{
    @include mixins.center-element;
    position: absolute;
    right: 1em;
}

.list__header--create{
    @include mixins.center-element;
    padding: 0.2em 0.4em;
    background-color: greenyellow;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 5px;
}

.list__header--delete{
    @include mixins.center-element;
    background-color: red;
    padding: 0.2em 0.4em;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.list__header--title{
    padding: 1em 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.overflow-y{
    overflow-y: scroll;
}

.create__list--form{
    position: absolute;
    @include mixins.center-element;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    width: 40%;
    height: 40%;
    border: solid 3px black;
    border-radius: 5px;
}

.list__form--title{
    font-size: 2rem;
    font-weight: bold;
    border-bottom: solid 1px lightgray;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.list__name--input{
    margin: 4em 0;
    font-size: 1.2rem;
}

.submit__button--form{
    background-color: black;
    border: none;
    color: white;
    @include mixins.center-element;
    padding: 1em 1.5em;
    font-weight: bold;
    border-radius: 5px;
}