@use "mixins.scss";

main {
    width: 100%;
    min-height: 100vh;
    padding: 1em 0;
    background-color: red;
    position: relative;
    overflow: auto;
    overflow-y: hidden;
}

.main__container--lists{
    display: inline-flex;
    white-space: nowrap;
    position: absolute;
    left: 0;
}

.create__list--button{
    position: absolute;
    right: 1em;
    background-color: greenyellow;
    padding: 0.8em 1em;
    font-weight: bold;
    border-radius: 5px;
    @include mixins.center-element;
}

@import "list.scss";
@import "card.scss";
@import "tag.scss";