@import "reset.scss";

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.hidden{
    display: none !important;
}

@import "header.scss";

@import "main.scss";

@import "footer.scss";
