.tag__container{
    display: flex;
    align-items: center;
    align-self: flex-start;
    flex-wrap: wrap;
}

.tag{
    border: solid 2px;
    border-color: gray;
    margin-left: 3px;
    margin-top: 3px;
    font-size: 10px;
    padding: 2px 0.4em;
    border-radius: 5px;
    @include mixins.center-element;
}

.tag__name{
    color: black;
}

.card__button--delete{
    @include mixins.center-element;
    background-color: red;
    padding: 0.2em 0.4em;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.create__tag--form{
    position: fixed;
    @include mixins.center-element;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    width: 40%;
    height: 40%;
    border: solid 3px black;
    border-radius: 5px;
}

.tag__form--title{
    font-size: 2rem;
    font-weight: bold;
    border-bottom: solid 1px lightgray;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.tag__name--input{
    margin: 4em 0 2em 0;
    font-size: 1.2rem;
}

.tag__color--input{
    margin-bottom: 1em;
}

.tag__form--close{
    align-self: flex-end;
    margin-right: 1em;
    background-color: white;
    border: solid 1px black;
    padding: 0.2em 0.4em;
    border-radius: 50%;
    color: black;
    @include mixins.center-element;
}

.tag__assign--form-container{

}

.assign__tag--form{
    position: fixed;
    @include mixins.center-element;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: white;
    width: 40%;
    height: 40%;
    border: solid 3px black;
    border-radius: 5px;
}

.tag__assign--close{
    align-self: flex-end;
    margin-right: 1em;
    background-color: white;
    border: solid 1px black;
    padding: 0.2em 0.4em;
    border-radius: 50%;
    color: black;
    @include mixins.center-element;
}

.tag__assign--title{
    font-size: 2rem;
    font-weight: bold;
    border-bottom: solid 1px lightgray;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.tag__assign--input{
    margin: 4em 0 3em 0;
    font-size: 1.2rem;
}

.patch__tag{
    @include mixins.center-element;
}

.tag__patch--name-input{
    width: 3em;
}

.tag__patch--color-input{
    width: 1.5em;
    border: none;
    background: none;
    padding: 0;
}

.tag__content{
    @include mixins.center-element;
}

.tag__button--delete{
    @include mixins.center-element;
    background-color: red;
    padding: 0.1em 0.3em;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 0.5em;
}

.delete__tag--form{
    @extend .assign__tag--form;
}

.tag__remove--title{
    @extend .tag__assign--title;
}

.remove__tag--input{
    @extend .tag__assign--input;
}

.tag__form--remove-close{
    @extend .tag__assign--close;
}

.tag__edit--buttons-container{
    @include mixins.center-element;
}

.tag__submit--edit{
    background-color: greenyellow;
    color: white;
    @include mixins.center-element;
    border: lightgrey;
    border: solid 1px lightgrey;

}

.tag__cancel--edit{
    color: white;
    background-color: red;
    @include mixins.center-element;
    border: solid 1px lightgrey;
    font-weight: bold;
}